{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-theme">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon -->
    <link rel="icon" href="images/favicon-32x32.webp" type="image/webp" />/

    <!-- CSS files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-theme.css' %}" rel="stylesheet" />

    <title>ChapterChoice</title>
  </head>

  <body>
    <!-- page loader -->
    <div class="loader-wrapper">
      <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <!-- end loader -->
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

    <!-- start page content -->
    <div class="page-content">
      <!-- start product details -->
      <section class="section-padding">
        <div class="container">
          <div class="row g-4">
            <div class="col-12 col-xl-6">
              <h3 class="fw-bold">Our Story</h3>
              <p>**ChapterChoice: An Overview**

                Founded in 2010, ChapterChoice is an innovative online bookstore designed to enhance the reading experience for book enthusiasts worldwide. Recognizing the growing influence of technology, the founders aimed to create a platform that made reading accessible to everyone, regardless of location or background.
                
                From the beginning, ChapterChoice offered a vast selection of titles across various genres, including fiction, non-fiction, self-help, and children's literature. By partnering with both established publishers and emerging authors, the bookstore ensures a rich diversity of narratives that caters to all interests.
                
                The website features an intuitive layout that allows users to easily navigate and explore the extensive catalog. With personalized recommendations and customer reviews, readers can make informed choices about their next read. ChapterChoice actively engages its audience through online book clubs, author interviews, and social media discussions, fostering a vibrant community of literature lovers.
                
                Additionally, ChapterChoice is committed to sustainability and social responsibility. The bookstore utilizes eco-friendly packaging and partners with carbon-neutral shipping services. A portion of profits is donated to literacy programs, promoting reading in underserved communities.
                
                As the digital landscape continues to evolve, ChapterChoice remains adaptable, integrating e-books and audiobooks into its offerings. With its dedication to diversity, community engagement, and social impact, ChapterChoice stands as a beloved destination for readers around the globe, inspiring a lifelong love of literature.</p>
            </div>
            <div class="col-12 col-xl-6">
              <img src="/static/images/smart2.jpg" class="img-fluid" alt="" />
            </div>
          </div>
          <!-- end row -->

          <div class="separator section-padding">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Why Choose Us</h3>
            <div class="line"></div>
          </div>

          <div class="row row-cols-1 row-cols-xl-3 g-4 why-choose">
            <div class="col d-flex">
              <div class="card rounded-0 shadow-none w-100">
                <div class="card-body">
                  <img src="{% static 'images/icons/delivery.webp' %}" width="60" alt="" />
                  <h5 class="my-3 fw-bold">Free Shipping</h5>
                  <p class="mb-0">Enjoy free shipping on orders exceeding ₹5000, making shopping with us convenient and cost-effective. Enhance your experience today!</p>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card rounded-0 shadow-none w-100">
                <div class="card-body">
                  <img src="{% static 'images/icons/money-bag.webp' %}" width="60" alt="" />
                  <h5 class="my-3 fw-bold">100% Back Gaurantee</h5>
                  <p class="mb-0">Our 100% Money-Back Guarantee assures full refund if unsatisfied, ensuring confidence and trust in our products and services.</p>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card rounded-0 shadow-none w-100">
                <div class="card-body">
                  <img src="{% static 'images/icons/support.webp' %}" width="60" alt="" />
                  <h5 class="my-3 fw-bold">Online Support 24/7</h5>
                  <p class="mb-0">Online Support 24/7: Instant assistance anytime, anywhere; resolving queries, offering guidance, and ensuring seamless user experience around the clock.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="separator section-padding">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Shop By Brands</h3>
            <div class="line"></div>
          </div>

          <div class="brands">
            <div class="row row-cols-2 row-cols-lg-5 g-4">
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/01.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/02.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/03.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/04.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/05.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/06.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/07.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/08.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/09.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded brand-box">
                  <div class="d-flex align-items-center">
                    <a href="javascript:;"><img src="{% static 'images/brands/10.webp' %}" class="img-fluid" alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
      </section>
      <!-- start product details -->
    </div>
    <!-- end page content -->

    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}

    <!-- Start Back To Top Button -->
    <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- End Back To Top Button -->

    <!-- JavaScript files -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
  </body>
</html>
